*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    color: white;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}
body{
    margin: 0;
    padding: 0;
    background-color: #0e011b;
    height: auto;
    width: auto;
}
/* Banner Design */
.banner{
    background: rgba(37, 26, 39, 0.3);
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 20px );
    -webkit-backdrop-filter: blur( 20px );
    display: flex;
    justify-content: center;
    height: 100px;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
}
.banner-title{
    display: flex;
    align-items: center;
}
.text-title{
    color: #ca9eb6;
    margin-left: 0;
    font-family: Arial;
    text-transform: uppercase;
}
.img-title{
    width: 100px;
    height: 100px;
}
.login{
    background: transparent;
    color: #83064b;
    font-family: cursive;
    font-size: 20px;
    margin: 25px;
    width:100px;
    border: solid #83064b 1px;
    border-radius: 100px;
    box-shadow: 0 8px 32px 0 rgba(135, 31, 71, 0.37);
    cursor: pointer;
    transition: width 1.5s;
}
.login:hover{
    width: 150px;
    background: linear-gradient(to bottom, #990962, #e233cb);
    color: wheat;
}
nav{
    width: 85%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
nav ul li{
    list-style: none;
    text-transform: uppercase;
    display: inline-block;
    margin: 0 30px;
}
a{text-decoration: none;}
nav ul li a{
    position: relative;
    width: 0;
    transition: color 0.5s;
}
nav ul li a:hover{
    color: rgb(150, 203, 247);
}
nav ul li a::after {
    content: ""; 
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0; 
    border-bottom: 2px solid aqua; 
    transition: width 0.8s;
}
nav ul li a:hover::after {
    width: 100%;
}
/* Title Container */
.main-container{
    height: auto;
    width: auto;
    margin: 120px 10px 50px;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: linear-gradient(rgba(0,0,0,0.75),rgba(0,0,0,0.75)), url(/products/background-image.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
.firstbox{
    padding: 20px;
    margin: 0 75px 0 0;
    height: 450px;
    width: 590px;
}
.first-p{
    margin-top: 50px;
    font-size: 20px;
}
.more{
    background: linear-gradient(to left, #5c2c2c, #812952, #75385a);
    margin: 40px 20px 0 20px;
    height: 50px;
    width: 200px;
    border-radius: 100px;
    box-shadow: 0 8px 32px 0 rgba(135, 31, 71, 0.37);
    transition: height 1.5s, width 1.5s;
}
.more:hover{
    height: 60px;
    width: 210px
    
}
.more a{
    color: #ffffff;
    font-family: cursive;
    font-size: 20px;
    display: inline-block;
    text-decoration: none;
    border: none;
    cursor: pointer;
}
.secondbox{
    margin: 20px;
    height: 450px;
    width: 590px;
    display: flex;
    justify-content: center;
    background: url(/products/first-image.png);
    background-repeat: no-repeat;
    background-size: auto;
}
.ftitle{
    margin: -10px 0 -30px 0;
    text-transform: uppercase;
    font-size: 80px;
    font-family: Gill Sans, sans-serif;
}

/* Product List */
.list-product{
    padding: 10px;
    height: auto;
    width: auto;
    margin: 0 20px 50px;
}
.categories{
    border: solid rgba(192, 148, 172, 0.20);
    border-radius: 100px;
    box-shadow: 0 8px 32px 0 rgba(126, 90, 103, 0.33);
    text-align: center;
    margin: 60px 0 60px 0;

}
.categories h1{
    padding: 10px;
    text-shadow: 2px 2px 4px rgba(181, 159, 184, 0.836);
}
.intro-box{
    display: flex;
    justify-content: center;
    padding: 10px;
}
.intro{
    width: 55%;
    height: 50%;
}
.intro p{
    font-size: 20px;
}
.product-container{
    padding: 10px;
    height: auto;
    margin: 0 20px 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3%;
}
.product{
    height: 70vh;
    width: 60vh;
    padding: 0 30px 30px;
    display: grid;
    justify-items: center;
    text-align: center;
    box-shadow: 0 8px 32px 0 rgba(126, 90, 103, 0.33);
    background: rgba( 255, 255, 255, 0 );
    backdrop-filter: blur( 20px );
    -webkit-backdrop-filter: blur( 20px );
    border-radius: 50px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    transition: height 1s, width 1s;
}
.product:hover{
    height: 80vh;
    width: 70vh;
}
.product h1{
    font-family: Geneva, Tahoma, sans-serif;
    margin-top: -40px;
    margin-bottom: 10px;
}
.product h3{
    text-shadow: 2px 2px 10px rgba(233, 117, 171, 0.8);
    cursor: pointer;
}
.product h3:hover{
    text-shadow: 2px 2px 20px rgba(233, 117, 171, 0.8);
}
.product p{
    font-family: 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin-bottom: 5px;
}
.mouse{
    margin-top: 15px;
    margin-bottom: 20px;
    width: 250px;
    height: 150px;
}
/* Scroll Bar Design */
::-webkit-scrollbar {
    width: 7px; 
}
::-webkit-scrollbar-thumb {
    background: linear-gradient(to top, #d1b0e7, #75385a, #83064b );
    border-radius: 5px;
}
::-webkit-scrollbar-thumb:hover {
    background: linear-gradient(to bottom, #dd83ca, #462034, #c094ac );
}
/* About us Design */
.about{
    padding: 50px;
    margin: 20px;
    width: auto;
    height: 500px;
    margin: 10px;
}
.about h1{
    text-shadow: 1.5px 1.5px 10px rgba(230, 146, 241, 0.555);
    text-align: center;
    margin-bottom: 20px;
    font-size: 8vh;
}
.about p{
    line-height: 30px;
    text-align: center;
    font-size: 20px;
}

@media (max-width: 768px) {
    .main-container{
        margin-top: 100px;
        flex-direction: column;
        width: auto;
        height: auto;
        margin: 20px;
    }
    .product-container{
        flex-direction: column;
      }
    nav ul li a{
        display: none;
    }
}

  